<section class="section already-working-with-us">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h1><strong class="title">Already working with us?</strong></h1>
                <p class="lead">
                    That's great! We provide our clients with a personalized <a href="https://dashboard.black-mountain.com.ar/" target="_blank" rel="nofollow">dashboard</a> where it's easy to know who is on your team, keep track of invoices and... wait for it... because new features are coming.
                </p>
                <p class="lead">Remember to stay tuned since new tools are coming and we plan to open them to the public!</p>
            </div>
        </div>
    </div>
</section>