<section class="section contact-us" id="get-in-touch">
    <div class="abstract-background"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-5">
                    <h2 class="title">Ready to <span class="font-weight-bold">build your application</span>?</h2>
                    <div class="py-4 w-50 mx-auto">
                        <%= render 'contacts/form', contact: @contact, buttonCss: "btn btn-block btn-orange zoom-animation font-weight-bold btn-lg mt-4 px-4 shadow-sm" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>