<section class="section header">
    <div class="header-content container-fluid align-self-center text-center">
        <h1>Do you want an application?</h1>
        <h4>
            Hi, we are a team of freelancers and our mission is to build high quality web applications.<br>
            Ready to build your idea?
        </h4>
        <div class="py-4 contact text-white">
            <%= render 'contacts/form', contact: @contact, buttonCss: "btn btn-orange btn-lg mt-4 rounded-pill shadow-sm" %>
        </div>
    </div>
</section>