<section class="section header">
    <div class="abstract-background"></div>
    <div class="header-content container align-self-center">
        <div class="header-vector"></div>
        <div class="row">
            <div class="col-12">
                <h5>Our passion is</h5>
                <h1>Software<br>development</h1>
                <h4 class="mt-4">We deliver high quality results on time, no messing around</h4>
            </div>
        </div>
    </div>
</section>