<section class="section header d-flex">
    <div class="container align-self-center">
        <div class="row">
            <div class="col-md-12 col-lg-5 text-center my-3">
                <img src="<%= image_path 'santa.png' %>" class="santa-animation" width="500px">
            </div>
            <div class="col-md-12 col-lg-7 text-center">
                <a class="header-box" href="#how">
                    <h1 class="header-title">
                        Have an idea to work on?<br />
                        Let us help you
                    </h1>
                    <div class="header-how-button btn btn-primary btn-big rounded-pill mt-3 px-5 py-2">
                        How can you help me?
                    </div>
                </a>

                <a class="header-box" href="https://dashboard.black-mountain.com.ar/">
                    <h1 class="header-title">
                        Already working with us?<br />Access to our dashboard
                    </h1>
                    <div class="access-dashboard-button btn btn-primary btn-big rounded-pill mt-3 px-5 py-2">
                        Go to dashboard
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="background-credits">
        Photo by JESHOOTS.COM on Unsplash<br/>
        <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by denamorado - www.freepik.com</a>
    </div>
</section>