<section class="section how" id="how">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h1><strong class="title">How?</strong></h1>
                <p class="lead">
                    We focus on understanding the problem our clients want to solve. We don't just simply build software, we help you build real solutions for real customers.
                    The way we do it, is by following these simple steps for the best results:
                </p>
            </div>
            <div class="col-12 mb-5">
                <ul class="list-unstyled">
                    <li class="media border p-4 mb-3 bg-white rounded zoom-animation">
                        <%= image_tag "icons/icon-search-64.png", class: "mr-4" %>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Analysis</h5>
                            <p>
                                We first identify what is the problem we want to solve.
                            </p>
                        </div>
                    </li>
                    <li class="media border p-4 mb-3 bg-white rounded zoom-animation">
                        <%= image_tag "icons/icon-idea-64.png", class: "mr-4" %>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Plan</h5>
                            <p>
                                After understanding the problem in a very detailed way, we build a plan or the following steps we want to follow in order to achieve a solution. We do this, considering the context, limitations and deadlines.
                            </p>
                        </div>
                    </li>
                    <li class="media border p-4 mb-3 bg-white rounded zoom-animation">
                        <%= image_tag "icons/icon-settings-64.png", class: "mr-4" %>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Execution</h5>
                            <p>
                                We get to work, reporting daily the current state of the progress, what will be working on and what kind of blockers we have.
                            </p>
                        </div>
                    </li>
                    <li class="media border p-4 mb-3 bg-white rounded zoom-animation">
                        <%= image_tag "icons/icon-refresh-64.png", class: "mr-4" %>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Iteration</h5>
                            <p>
                                We finally have reached our goal, repeat!
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>