<section class="section need-help">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h2 class="title">Need help?</h2>
                <p class="lead">
                    If you are just starting or maybe don't know where to begin, don't worry we got your back!
                </p>

                <%= link_to building_an_application_path, class: "article-link" do %>
                    <h3 class="m-0">Building an application, where to begin?</h3>
                    <p class="m-0 lead">We share with you some of the tips to keep in mind when starting a new application.</p>
                <% end %>
                <%= link_to what_is_mvp_path, class: "article-link" do %>
                    <h3 class="m-0">Efficient way of validating an idea</h3>
                    <p class="m-0 lead">Learn how to validate your next project without spending too many resources.</p>
                <% end %>
            </div>
        </div>
        <h3 class="text-center mt-4">Still need help?<br />Drop us a line, we would love to chat with you</h3>
    </div>
</section>