<section class="section what-do-we-do" id="how-do-we-work">
    <div class="container">
        <div class="mb-4">
            <h2 class="title">How do we work?<h2>
            <h3>We ensure high-quality results in time by following these simple steps:</h3>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <h4>#1 Define the objetive</h4>
                    <p class="lead">
                        We first want to know what we are building and what problems we are solving. Remember, a successful application is one that solves people's problems, REAL problems.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <h4>#2 Define scopes</h4>
                    <p class="lead">
                        We set real and achievable goals. We always try to work on small chunks of work to be able to get feedback. Short and well-defined goals will ensure we are on the right track!
                    </p>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <h4>#3 Designs</h4>
                    <p class="lead">
                        After we know what we need to do, we work on designs, layouts, and general styling. How are we going to present the content? Which colors will we use?
                    </p>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <h4>#4 Implement</h4>
                    <p class="lead">
                        We start coding and making what we plan a reality. Relying on trusted technology such as ReactJS, AWS, ReactNative, and much more gives us high-quality results on time.
                    </p>
                </div>
            </div>
        </div>
        <h3 class="text-center mt-4">Is that simple, <span class="font-weight-bold">we do not overcomplicate things</span>.</h3>
    </div>
</section>