<section class="section who-are-we" id="who-are-we">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="title">Who are we?</h2>
                <p class="lead">
                    We are a team of passionate freelancer developers and designers with one mission: to build excellent web applications and make our customers happy.
                </p>
            </div>
            <div class="col-lg-6">
                <%= image_pack_tag 'who-are-we.jpg', class: "img-fluid rounded shadow" %>
            </div>
        </div>
    </div>
</section>