<div class="container" id="why-us">
    <div class="row">
        <div class="col-12">
            <section class="section why-us text-white">
                <h1><strong class="title">Why us?</strong></h1>
                <p>
                    We focus on delivering <span class="font-weight-bold">high quality solutions</span> in a <span class="font-weight-bold">fast</span> and <span class="font-weight-bold">iterative way</span>. We want <strong>you</strong>, to be part of the team and experience the whole process, from the very beginning until you have your first clients!
                </p>
            </section>
        </div>
    </div>
</div>