<div class="pages">
    <div class="header">
        <div class="container">
            <h1>Building an application, where to begin?</h1>
            <h3>Start on the right foot</h3>
        </div>
    </div>
    <div class="container content border">
        <div class="author">
            <%= image_tag 'franco-montenegro.jpg', class: "avatar mr-3" %>
            <div class="mt-2">
                <h5 class="m-0">By Franco Montenegro</h5>
                <p class="lead m-0">Founder of BlackMountain</p>
            </div>
        </div>

        <p class="lead">
            It is always exciting to begin a new project. You have a great idea on your mind; you are already thinking about features, tiers, styles, and what have you, but <b>how can you be sure it will work and people will find it interesting?</b>
        </p>

        <%= image_tag 'pages/thinking-your-next-application.jpg', class: 'd-block my-4 mx-auto img-fluid shadow border' %>
        <span class="d-block text-center text-muted">Photo by <a href="https://unsplash.com/@austindistel?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Austin Distel</a> on <a href="https://unsplash.com/s/photos/web-application?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>

        <h2 class="title">It begins with a problem</h2>
        <p class="lead">
            <b>Successful applications are those who solve people's problems, real problems</b>. And the best type of problem you may want to address is one you currently are experiencing. You know the inner details of these issues you are experiencing, you know what the real hassle is, and you know it is a real problem. The next step is to validate how many people are having this problem and what your competition will be.
        </p>

        <h2 class="title">Is the problem you are trying to solve experienced by many?</h2>
        <p class="lead">
            It is good to be solving problems, but you want to <b>make sure you are solving problems experienced by a large number of people</b>. Otherwise, you will end up with an application only used for only a few. Next step is to do a quick research, <b>how popular is the problem?</b> Are people searching for solutions? How is your competition? Is there any competition? Having no competition may be a good or a bad sign, it depends. If you have no competition, it may be because you are the first to tackle the problem, or maybe because the problem is not worth solving it.
        </p>

        <%= image_tag 'pages/research-your-idea.jpg', class: 'd-block my-4 mx-auto img-fluid shadow border' %>
        <span class="d-block text-center text-muted">Photo by <a href="https://unsplash.com/@domenicoloia?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Domenico Loia</a> on <a href="https://unsplash.com/s/photos/web-application?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>

        <h2 class="title">What about your competition?</h2>
        <p class="lead">
            Knowing your competition is critical. You need to know against who you will be competing against, and you have to know your competitor's strengths and weaknesses. <b>You have to be clear about what makes you different and why people should pick your solution</b>. But everything in good measure, know your competition and know them well, but don't get yourself too influenced by them or else, you will end up building a clone of their product or even worse, you will end up with tunnel vision (and thus, unable to innovate and come up with better solutions).
        </p>

        <h2 class="title">Defining your customers</h2>
        <p class="lead">
            Defining your customers and who will be using your platform will make things so much easier and help you stay focused. Delivering a clear solution to a well-defined group of people will allow you to provide a superior solution than if you were trying to solve everybody's problem. <b>Don't be afraid of reducing your audience's scope</b>. Instead of targeting the entire United States, why don't you start with just New York city? With time, you will be able to expand your target, but start small and well at the beginning.
        </p>

        <h2 class="title">Validate your idea</h2>
        <p class="lead">
            Now that you know you may be on to something, it's time to validate your idea. <b>Validating your idea doesn't mean you need to jump and build the most beautiful application you can think of</b>, far from it. Be creative. Try to come up with a cleaver way to let you know if your customers want to use it spending the least amount of resources. An excellent approach for validating your idea is to <%= link_to "build an MPV", what_is_mvp_path %>. The critical point here is not to spend too many resources, Remember, you will be confirming a hypothesis, an idea that may be useful for people.
        </p>

        <h2 class="title">Conclusion</h2>
        <p class="lead">
            It is always better to start small, little by little, and polishing along the way. <b>Make sure you know the problem you are trying to solve</b>, see if this is a widespread problem experienced by many. <b>Don't forget about your competition</b>, but also, don't get too attached to them, you don't want to end up with a clone (nobody likes those!) and make sure you <b>define your audience</b>. Keep these small tips in mind, and you will have a higher chance of ending up with a successful application.
        </p>

        <p class="lead">
            One final word of advice, <b>don't be discouraged if your idea doesn't work</b>. Building an application is a skill, and like any skill, it takes time and practice to get it right. So make sure you enjoy the journey of learning how to build an application!
        </p>

        <h3 class="py-4 my-4 text-center">So tell me, what application is on your mind?</h3>
    </div>
</div>