<div class="pages">
    <div class="header">
        <div class="container">
            <h1>What is an MVP?</h1>
            <h3>And why you should build one</h3>
        </div>
    </div>
    <div class="container content">
        <div class="author">
            <%= image_tag 'franco-montenegro.jpg', class: "avatar mr-3" %>
            <div class="mt-2">
                <h5 class="m-0">Franco Montenegro</h5>
                <p class="lead m-0">Founder of BlackMountain</p>
            </div>
        </div>

        <p class="lead">
            You are about to build your first application, you have this great idea on your mind and can't wait to make it a reality. <b>How can you build this application without going bankrupt?</b>
        </p>

        <%= image_tag 'pages/building-an-mvp.jpg', class: 'd-block my-4 mx-auto img-fluid shadow border' %>

        <h2 class="title">Introducing MVP</h2>
        <p class="lead">
            MVP stands for <a href="https://en.wikipedia.org/wiki/Minimum_viable_product" target="_blank">Minimum Viable Product</a> and it focuses on <b>building just the minimal to test an idea</b>, to test if a product is interesting to the public or not by using the least amount of resources (money and time).
        </p>

        <h2 class="title">How much time should I spend building my MVP?</h2>
        <p class="lead">
            It's hard to say, especially since every application is a world on itself, but you want to <b>keep it to the very minimum, somewhat between the range from one to three months</b>. No more than that. Remember, we will be building an MVP to gather feedback about our idea, we don't want to spend too many resources here.
        </p>

        <h2 class="title">How do you build an MVP in such short amount of time?</h2>
        <p class="lead">
            So, the whole idea of building something quick to test it out with customers sounds good, but how can you build something usable in such a short amount of time? By removing the exceed of features, or better said, by removing what is not essential to test your idea.
        </p>
        <p class="lead">
            To differentiate between essential features and non-essential ones, ask yourself if I remove this feature, can I still test the main idea? If you can't answer NO, I NEED IT! without a doubt, it's probably a feature you can remove. Beware of features that sound "cool", those always feature you can remove. When adding a new feature always ask this question, is it really necessary? If in doubt, remove it.
        </p>

        <%= image_tag 'pages/mvp.jpg', class: 'd-block my-4 mx-auto img-fluid shadow border' %>

        <h2 class="title">I'm worried my customers will think bad of my application</h2>
        <p class="lead">
            This is a valid concern, what if your customers think bad about your application? what if it hurts your reputation or brand? There is a big difference between shipping bad software and shipping MVPs. Bad software may look pretty, may look ugly, it doesn't matter, the main point is, it doesn't work or solve any problem. MVPs are the raw idea, it does only one thing but it does it well, and that's the key difference, <b>your MVP solves a problem</b>. You are testing to see if your clients have this problem and if your way of solving it is good.
        </p>

        <h2 class="title">Conclusion</h2>
        <p class="lead">
            When building your application, <b>test each step you take using the least amount of resources</b>. Focus on small steps, one at a time, make sure to complete small goals, don't try to tackle the whole world in one go, it won't end well and you will waste a lot of time and money. Go small, and go well.
        </p>

        <h3 class="py-4 my-4 text-center">So, are you ready to build your application?</h3>
    </div>
</div>