body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    cursor: default;
    background-color: white;
    color: #43464b;
    line-height: 32px;
}

.navbar {
    background-color: #11252c;
}

.header {
    position: relative;
    color: white;
}

.header-content {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #43464b;
    background: linear-gradient( rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6)100%), asset_url('header-background-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 1190px) {
    .header-vector {
        display: none;
    }
}

.header-content h1 {
    font-size: 100px;
    font-family: 'Patua One', cursive;
    color: white;
    text-shadow: 0 2px 5px rgb(44, 44, 44);
}

.header-content h4 {
    font-size: 22px;
    line-height: 32px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    text-shadow: 0 2px 3px black;
}

.header-content .btn-orange {
    padding: 15px 40px;
}

.header-content .contact {
    width: 33%;
    margin: 0 auto;
}

@media (max-width: 390px) {
    .header-content h1 {
        font-size: 48px;
    }
}

.section.who-are-we {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section.what-do-we-do {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f8f8f8;
}

.section.how {
    padding-top: 100px;
    padding-bottom: 50px;
}

.title {
    margin-top: 35px;
    margin-bottom: 35px;
    display: inline-block;
    font-size: 42px;

    &::after {
        margin-top: 20px;
        width: 60px;
        left: 50%;
        bottom: 0;
        height: 2px;
        background: #f16334;
        content: "";
        display: block;
    }
}

.section.why-us {
    padding-top: 100px;
    padding-bottom: 50px;
}

.section.get-in-touch {
    font-size: 14px;
    border-top: 1px solid #d2d8e2;
    background: #fff;
    margin-bottom: 0;
    padding-top: 80px;
    padding-bottom: 50px;
}

.section.get-in-touch i {
    margin-right: 10px;
    color: #d2d8e2;
}

.section.get-in-touch a {
    color: #112e54;
}

.what-do-we-do-icon {
    background-color: #dcf9ff;
}

.btn-nav-outline {
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 8px;
    transition: border-color ease-in 150ms;
    font-size: 14px;
}

.btn-nav-outline.active,
.btn-nav-outline:hover {
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-bottom-color: #fe645c;
}

.zoom-animation {
    transition: all ease-in 125ms;
}

.zoom-animation:hover {
    transform: scale(1.03);
}

.field_with_errors > .form-control {
    border: 1px solid #f65b81;
}

.btn-orange,
.btn-orange:hover {
    background-color: #f16334;
    border-color: #f16334;
    color: white;
}

.credits {
    color: #d2d8e2;
    font-size: 11px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 50px;
}

.credits a {
    color: #bcbdc3 !important;
}

.section.contact-us {
    position: relative;
    background-color: #f16334;
    color: white;
    //text-shadow: 0 0 1px #0084ff;
}

.section.contact-us .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section.contact-us .abstract-background {
    background: linear-gradient(150deg,#dbddf1 15%,#f3dfec 70%,#f5edfb 94%);
    transform: none;
}

.card {
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    border: 0;

    h4 {
        font-weight: bold;
    }
}

.btn-primary {
    background-color: #2e2f3e !important;
    border-color: #2e2f3e !important;
    color: white !important;
}