.ecommerce {
    .header {
        background-image: asset-url('build-ecommerce-app.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-top: 200px;
        padding-bottom: 200px;

        .title {
            font-size: 64px;
            font-weight: bold;
            text-shadow: 0 0px 2px rgb(36, 36, 36);
        }

        h3 {
            background-color: #14cb5d;
            padding: 25px;
            box-shadow: 10px 10px 0px #168269;
        }
    }

    .big {
        font-size: 32px;
        line-height: 48px;
        font-weight: 100;
        padding-bottom: 150px;
    }

    .lead {
        font-size: 1.4rem;
    }

    .steps-section {
        padding-top: 100px;
        padding-bottom: 100px;
        background: linear-gradient(45deg, #ffaa8f, #e85121);

        .title {
            color: white;
        }
    }

    .pricing-section {
        background-color: white;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .questions-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .card {
        box-shadow: 0 2px 5px #e88466;
    }

    .pricing {
        text-align: center;
        max-width: 400px;
        margin: 80px auto;
        padding: 30px;
        padding-bottom: 60px;
        border-radius: 20px;
        box-shadow: 0 5px 10px #c5fbff;
        margin-bottom: 100px;
        background: linear-gradient(45deg, #5ed7f5, #2a92ec);
        color: white;
        position: relative;

        .feature {
            color: rgb(237, 240, 248);
            font-weight: bold;
        }

        .highlight {
            text-decoration: underline;
        }

        .price {
            font-size: 48px;
            padding-top: 50px;
            padding-bottom: 50px;
            margin-bottom: 50px;
            font-weight: bold;
            border-bottom: 1px solid rgba(255, 255, 255, 0.35);
        }

        .buy {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 60px;
            padding-right: 60px;
            border-radius: 25px;
            background-color: white;
            color: #f16334;
            position: absolute;
            bottom: -25px;
            left: 50%;
            margin-left: -131px;
            font-weight: bold;
            font-size: 24px;
            border: 1px solid rgb(241, 235, 235);
            box-shadow: 0 2px 5px rgb(241, 235, 235);
        }
    }
}